@media (width < 1280px) {
  .text-about-us::after {
    content: "  Fondată pe o bogată tradiție și valori puternice, Gimnaziul Mitoc este mai mult decât o școală - este un loc în care fiecare copil este încurajat să-și descopere pasiunile, să-și exploreze potențialul și să-și dezvolte caracterul. Prin programe educaționale inovatoare, cadre didactice dedicate și resurse moderne, ne străduim să oferim fiecărui elev o experiență educațională memorabilă și relevantă pentru lumea de astăzi. Alătură-te nouă în călătoria către excelență și descoperă ce înseamnă să fii parte din familia Gimnaziului Mitoc. Aici, fiecare elev contează!";
  }
}

/* ---------------------------------------------------------------------------------------------------------------
  
  
                                          stiluri Tablets
  
  ------------------------------------------------------------------------------------------------------------------ */

@media (width < 991px) {
  /* stiluri navigare */
  .nav-menu {
    position: fixed;
    inset: 0 0 0 10%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: min(30vh, 160px) 30vw;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(32px);
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }
  .nav-menu[data-visible="true"] {
    transform: translateX(0);
  }
  .mob-nav-toggle {
    display: block;
    position: absolute;
    width: 2rem;
    min-width: 48px;
    min-height: 48px;
    aspect-ratio: 1;
    /* top: 15px; */
    right: 2rem;
    background-image: url("../img/menu-burger.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    z-index: 1001;
  }

  .mob-nav-toggle[aria-extended="true"] {
    background-image: url("../img/close-burger.svg");
  }
  .nav,
  .nav-interna {
    width: 100vw;
  }

  .nav-link {
    padding-top: 20px;
  }

  .nav-link:hover {
    box-shadow: none;
  }
  .nav-logo-container {
    margin-right: auto;
    width: 85px;
  }
  .brand {
    background-position: center;
  }
  .dropdown-content {
    background-color: rgba(85, 139, 211, 0.8);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    min-width: 50%;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .dropdown-content a:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  .dropdown-content a {
    min-width: 48px;
    min-height: 48px;
    width: 100%;
    height: 5vh;
  }

  .dropdown:hover .dropdown-content {
    display: none;
  }

  #close-dropdown-menu {
    display: block;

    top: 5rem;
    font-size: 2rem;
  }

  .container-nr-tel {
    position: absolute;
    left: 50%;
    top: 19px;
    transform: translateX(-50%);
    font-size: 14px;
  }
  .nav-bar-tel {
    display: block;
  }
  .center-tel {
    display: none;
  }
  /* stiluri despre noi */
  .about-us-img {
    display: none;
  }
  .about-us-img-sm {
    display: block;
  }
  /* stiluri evenimente trecute */
  .container-eveniment {
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding-left: 0;
    padding-right: 0;
  }

  .container-eveniment.logos {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  /* stiluri gaseste-ne */
  .adr-info > p {
    font-size: 0.8rem;
  }
}

/* lungimi random ptr corectie */
@media (width < 860px) {
  .statistici {
    justify-content: space-around;
    min-width: 100vw;
  }
  .container-card {
    flex-direction: column;
  }
  .info-adjectiv {
    display: none;
  }
}
/* ---------------------------------------------------------------------------------------------------------------
  
  
                                          smaller tablets 768
  
  ------------------------------------------------------------------------------------------------------------------ */
@media (width < 768px) {
  html {
    font-size: 14px;
  }

  h1 {
    font-size: 1.75rem;
  }

  p {
    font-size: 0.875rem;
  }
  /* stiluri navigare */
  .nav-logo-container {
    width: 75px;
  }
  /* stiluri forma de contact */
  .form-wrapper {
    flex-direction: column;
  }
  .form-wrapper .left-col {
    width: 100vw;
    height: 33vh;
  }
  .form-wrapper .right-col {
    width: 100vw;

    flex: auto;
  }

  input,
  textarea,
  label {
    width: 85vw;
  }
  .form-text {
    width: 100%;
  }
  #error,
  #success-msg {
    width: 100%;
  }
  .close-form {
    background-image: url(../img/close-burger.svg);
  }
  /* stiluri statistici */
  .info-adjectiv {
    display: block;
  }

  /* stiluri upcoming events */
  #upcoming-events {
    padding-left: 0;
    padding-right: 0;
  }
  .timeline::before {
    left: 50px;
  }
  .timeline .timeline-img {
    left: 50px;
  }
  .timeline .timeline-content {
    max-width: 100%;
    width: auto;
    margin-left: 70px;
  }
  .timeline .timeline-item:nth-child(even) .timeline-content {
    float: none;
  }
  .timeline .timeline-item:nth-child(odd) .timeline-content::after {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
  }
  .date {
    left: 0;
    right: auto;
  }

  /* stiluri evenimente trecute */
  .container-eveniment {
    flex-direction: row;
  }
  #upcoming-events {
    padding: 0;
  }
  .container-eveniment {
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .container-eveniment.invers {
    flex-direction: column;
  }
  .eveniment {
    width: 100%;
    max-width: 100%;
  }
  .imagine-eveniment {
    width: 100%;
    max-width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  /* stiluri gaseste-ne */
  .adresa {
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #6b6b6b;
  }
  .harta {
    width: 100vw;
  }
  .adr-info > p {
    font-size: 1rem;
  }
}
/* ---------------------------------------------------------------------------------------------------------------
  
  
                                          mobile phones 480
  
  ------------------------------------------------------------------------------------------------------------------ */
@media (width < 480px) {
  html {
    font-size: 12px; /* Even smaller base font size */
  }

  h1 {
    font-size: 1.5rem; /* Adjust for very small screens */
  }
  .nav-logo-container {
    width: 60px;
  }
  .container-nr-tel {
    top: 19px;

    font-size: 12px;
  }
  .right-col {
    padding: 2em;
  }
  .info-adjectiv {
    display: none;
  }
  .thumb-titlu {
    display: flex;
    flex-direction: column;
    border: none;
  }
  .number {
    font-size: 14px;
    letter-spacing: 1px;
  }
  .container-eveniment,
  .container-eveniment.invers {
    flex-direction: column;
  }

  .imagine-eveniment {
    width: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .eveniment {
    width: 100vw;
  }
}

/* ---------------------------------------------------------------------------------------------------------------
  
  
                                          dupa inaltime
  
  ------------------------------------------------------------------------------------------------------------------ */

@media (height < 750px) {
  .info-adjectiv {
    display: none;
  }
}

@media (height < 500px) {
  .linkuri-sociale-hero::before,
  .linkuri-sociale-hero::after {
    display: none;
  }

  .form-wrapper {
    max-height: none;
    height: 150vh;
    top: 0;
  }
}

/* ---------------------------------------------------------------------------------------------------------------
  
  
                                          swiper
  
  ------------------------------------------------------------------------------------------------------------------ */

@media (width < 1250px) {
  .swiper-slide {
    width: 500px;
  }

  .swiper-slide img {
    border-radius: 16px;
    height: 280px;
  }
}

@media (width < 1100px) {
  .content {
    grid-template-columns: 60% 40%;
  }

  .left-content {
    padding: 40px 20px 20px;
  }

  .swiper-slide {
    width: 410px;
  }

  .swiper-slide img {
    height: 220px;
  }
}

@media (width < 910px) {
  .swiper-slide {
    width: 350px;
  }

  .swiper-slide img {
    height: 180px;
  }
}

@media (width < 825px) {
  .swiper-slide {
    width: 320px;
  }

  .swiper-slide img {
    height: 200px;
  }

  .slide-overlay {
    row-gap: 8px;
    padding: 12px 36px;
  }

  .slide-overlay button {
    padding: 8px 12px;
  }
}

@media (width < 700px) {
  .slide-overlay {
    row-gap: 12px;
    padding: 20px 30px;
  }

  .swiper-slide {
    width: 420px;
  }
}

@media (width < 580px) {
  .swiper-slide {
    width: 340px;
  }

  .swiper-slide img {
    height: 180px;
  }
  .imagine-eveniment > svg {
    fill: #313131;
    opacity: 0.7;
    z-index: 300;
  }
}

@media (width < 450px) {
  .swiper-slide {
    width: 320px;
  }

  .slide-overlay {
    row-gap: 8px;
    padding: 12px 36px;
  }
}

/* upcoming events container lungime */

@media (width > 576px) {
  .container {
    width: 540px;
  }
}

@media (width > 768px) {
  .container {
    width: 720px;
  }
}

@media (width > 991px) {
  .container {
    width: 960px;
  }
}

@media (width > 1200px) {
  .container {
    width: 1140px;
  }
}
