:root {
  --first-colour: #543ab7;
  --second-colour: #00acc1;
  --p-max-width: 500px;
}

/* tipografie */
html {
  font-size: 16px; /* This is typically the default size in browsers */
}
body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1rem; /* Equals the base font size, e.g., 16px */
  line-height: 1.6; /* Adjusts the spacing between lines of text */
  overflow-x: hidden;
  background: linear-gradient(60deg, #543ab7 0%, #00acc1 100%);
}

h1 {
  font-size: 2.5rem; /* Larger for headings */
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1rem; /* Regular text size */
}

h1,
h2,
h3 {
  font-family: "Merriweather", Georgia, serif;
  font-weight: bold;
}
a {
  text-decoration: none;
}
button,
[type="button"] {
  cursor: pointer;
  -webkit-appearance: button;
  appearance: button;

  border: 0;
}
/* for informal sections like student quotes or bulletin boards. */

.special-text {
  font-family: "Lobster", cursive;
  font-size: 18px;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------

                                                                    General classes

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.flex-column {
  /*Flexbox for containers*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.mob-square-btn {
  min-width: 48px;
  min-height: 48px;
}
.container-sectiune {
  display: flex;
  max-width: 100vw;
  margin: 0 auto;
  padding: 2em;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------

                                                                    Navigation styles

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
#hero {
  position: relative;
  height: 100vh;
  background-color: #fff;
}
.nav-interna {
  position: sticky;
  top: 0;
  justify-content: space-between;
  width: 100vw;
  height: 5vh;
  min-height: 50px;
  padding-top: 10px;
  z-index: 9999;
}

.mob-nav-toggle {
  display: none;
}

.nav-link {
  display: inline-block;
  flex: 0 auto;
  text-decoration: none;
  color: var(--secondary);
  /* margin-bottom: 20px; */
  margin-left: 15px;
  margin-right: 15px;
  font-size: 16px;
  font-weight: 400;
  padding: 20px;
}

.nav-link:hover {
  box-shadow: inset 0 -5px var(--tertiary);
}

.nav-menu {
  height: auto;
  float: right;
  position: relative;
}

.nav-logo-container {
  width: 100px;
  height: 100%;
  padding-left: 1vw;
}
.brand {
  width: 100%;
  height: 100%;
  display: inline-block;
  background-image: url(../img/LOGO.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -26px;
}
/* stiluri linkurile sociale */
.linkuri-sociale-hero {
  gap: 1.5em;
  position: absolute;
  top: 50vh;
  right: 5%;
  transform: translateY(-50%);
}
.linkuri-sociale-hero::before {
  position: absolute;
  content: "";
  top: -3rem;
  width: 4rem;
  height: 1.5px;
  transform: rotate(90deg);
  background: #fff;
}
.linkuri-sociale-hero::after {
  position: absolute;
  content: "";
  bottom: -3rem;
  width: 4rem;
  height: 1.5px;
  transform: rotate(90deg);
  background: #fff;
}
.linkuri-sociale-hero > a {
  color: #fff;
  font-size: 20px;
}
.nav-bar-tel {
  display: none;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------

                                                                    despre noi

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
#despreNoi {
  max-height: 100vh;
  color: #f1f1f1;
  position: relative;
  overflow: hidden;
}
.about-us-img {
  max-height: 600px;
  width: 40%;
}

.about-us-img > img {
  width: 100%;
  max-width: 100%;
}

.about-us-img-sm {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  max-height: 100%;
  z-index: -1;
  opacity: 0.25;
}

.titlu-sectiune {
  font-weight: 700;
  width: 100%;
  text-align: left;
  padding-left: 1rem;
}
#despreNoi p {
  max-width: 800px;
  font-size: 1.25rem;
}
.text-about-us::after {
  content: " Suntem o comunitate dedicată excelenței în educație și formării individuale a fiecărui elev. Fondată pe o bogată tradiție și valori puternice, Gimnaziul Mitoc este mai mult decât o școală - este un loc în care fiecare copil este încurajat să-și descopere pasiunile, să-și exploreze potențialul și să-și dezvolte caracterul. Prin programe educaționale inovatoare, cadre didactice dedicate și resurse moderne, ne străduim să oferim fiecărui elev o experiență educațională memorabilă și relevantă pentru lumea de astăzi. Alătură-te nouă în călătoria către excelență și descoperă ce înseamnă să fii parte din familia Gimnaziului Mitoc. Aici, fiecare elev contează!";
}
.text-about-us {
  text-align: justify;
  padding: 1em;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------

                                                                    Statistici

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.statistici {
  width: 50%;
  min-width: 860px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: var(--second-colour);
}
.container-card {
  gap: 1rem;
}
.container-card > .stat-i-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  align-self: stretch;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  height: 100%;
}

.thumb-titlu {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 600;
  text-align: center;
  display: inline-block;
  border-bottom: 1px solid var(--first-colour);
}

.number {
  color: #005f66;
  font-size: 2vw;
  display: inline-block;
}
.titlu {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1rem;
  display: inline-block;
}
.info-adjectiv {
  margin-top: 10px;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------

                                                                    progress bar

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.progress-container {
  display: none;
  width: 100%;
  background-color: #fff;
  padding: 0 20px;
}

.message {
  padding-top: 20px;
  text-align: center;
  color: var(--second-colour);
  font-size: 1.25rem;
}
.progress-bar {
  height: 30px;
  border-radius: 5px;
  background: linear-gradient(60deg, #543ab7 0%, #00acc1 100%);
  justify-content: space-between;
  position: relative;
  color: white;
  overflow: hidden;
}

.progress-bar div {
  position: absolute;
  top: 0;
  height: 100%;
  line-height: 30px;
  font-size: 14px;
}

.elapsed {
  left: 0;
  width: auto;
  padding-left: 5px;
}

.remaining {
  right: 0;
  width: auto;
  padding-right: 5px;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------

                                                                    Header styles

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.header {
  position: relative;
  text-align: center;
  background: linear-gradient(
    60deg,
    var(--first-colour) 0%,
    var(--second-colour) 100%
  );
  color: white;
}
/* .logo {
  width: 100px;
  fill: white;
  padding-right: 15px;
  display: inline-block;
  vertical-align: middle;
} */

.inner-header {
  flex-direction: column;
  height: 65vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* 
stiluri butnul de contact 
*/
.contact-btn {
  margin-top: 32px;
  padding: 1em 4em;
  height: 3rem;
  min-height: 48px;
  border-radius: 3em;
  border: none;
  /*   box-shadow: 1px 1px 4px #eee; */
  color: #fff;
  letter-spacing: 2px;
  font-size: 0.75em;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  background: linear-gradient(150deg, #746eff 0%, #00acc1 51%, #746eff 100%);
  background-size: 200% auto;

  transition: 0.5s;
}

.contact-btn:hover {
  background-position: right center;
}

.arrow {
  margin-left: auto;
  margin-right: auto;
  display: none; /*pina ce*/
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  z-index: 8999;
  animation: bounce 1s infinite alternate;
}
@keyframes bounce {
  0% {
    bottom: 0; /* Start position */
  }
  100% {
    bottom: 2%; /* End position */
  }
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------

                                                                    Waves

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
#wave1 {
  transition: opacity 3s ease-out;
}
.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  min-height: 100px;
  max-height: 150px;
}
.rotated180 {
  /* transform: rotate(180deg); */
}
.rotated180 > .parallax > use {
  animation: none;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
/* ------------------------------------------------------------------------    end waves ------------------------------------------------------------------ */

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------

                                                                    Stiluri sectiune evenimente

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

#evenimente {
  visibility: hidden;
  background-color: #fff;
  color: #7c7979;
}
.eveniment {
  width: 50vw;
  max-width: 500px;
  border: 1px #000;
  flex: none;
  padding-left: 4vw;
  padding-right: 4vw;
}

.imagine {
  flex: none;
}

.black-text {
  color: #000;
}

.container-eveniment {
  width: 90vw;
  border: 1px #000;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
}

.container-eveniment.invers {
  flex-direction: row-reverse;
}

.imagine-eveniment {
  width: 50vw;
  max-width: 500px;
  border: 1px #000;
  justify-content: center;
  align-items: center;
  display: flex;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 70px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}
